@special-color:#82b1ff;

* {
  margin: 0;
}
.nav li {

  font-size: 22px;
  color:white;
  margin-top:25px;
  margin-left:15px;
}
.nav a{
  color:white;
  text-decoration:none;
}

a:hover { 
    background-color:white ;
}

.name {
  position:relative;
  text-align: center;
  margin: 25px;
  padding: 15px;
  display: block;
  overflow: scroll;
}
h3 {
  text-align: center;
  width: auto;
  margin: 25px 100px 25px 100px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 10px;
  overflow: schroll;
}

#about {
  margin: 25px 100px 25px 100px;
  position: relative;
  text-align: left;
  width: auto;
  display: block;
  padding: 25;
}
#skills {
  margin: 50px 150px 50px 210px;
  
  position: relative;
  text-align: left;
  width: auto;
  display: block;
}
#projects  {
  margin: 25px 100px 25px 100px;
  position: relative;
  text-align: left;
  width: auto;
  display: block;
  padding: 25;
  list-style-type: none;
}
#experience ul {
  margin: 25px 100px 25px 200px;
  position: relative;
  text-align: left;
  width: auto;
  display: block;
  padding-top: 30;
  list-style-type: none;
}
.experience li {
  text-decoration: none;
}
.experience #position {
  font: 22px;
}
#education {
  position: 50%;
  width: auto;
  display: block;
  font-size: 22px;
  padding: 50px;
 text-align:center;
}
#contact {
  text-align:left;
  width: auto;
  position:relative;
  display:block;
  margin-left:300px;

}
fieldset {
   width: 600px;
   height: 400px;
   background-color:@special-color;
   border-radius: 10px;
   margin: 20px auto 40px;
   margin-left:50px;
   padding-left:75px;
}
fieldset label {
            font-size: 12px;
            font-weight: bold;
            color: white;
                }
form {
  margin-top: 15px;
  margin-left:190px;
  margin-bottom:15px;
}
.name {
  text-align: center;
}
.email {
  text-align: center;
  margin: 40;
  height: 90px 50px;
}

#commentsbox {
  font-size: 12px;
  height: 200px;
  width: 400px;
  font-color: white;
}


.input{
            width: 300px;
        height: 25px;
        border-radius: 5px;
        font-size: 16px;
        font-style: italic;
        }

        .inputname {
        .input;
        }
        .inputemail {
        .input;
        }
.textarea {
        width: 400px;
        height: 25px;
        border-radius: 5px;
        background-color: white;
        margin:10px;
        font-size:16px;
}
button { 
        .btn   
             }
.btn {
        width: 100px;
        padding:20px;
        box-shadow: insert 0 0 10px #fff 0 0 5px #000;
        background: #000;
        border-radius:10px;
        font-size: 12px;
        display: block;
        letter-spacing:3px;
        color: #fff; 
        cursor: pointer;
        -webkit-transition-duration: .5s;
        -moz-transition-duration: .5s;
        -ms-transition-duration: .5s;
        -0-transition-duration:.5s;
        transition-duration:.5s;


                &:hover, &:active, &:visited {
                    background:#fff;
                    color:#000;
                    box-shadow: insert 0 0 10px #000 0 0 5px #000; 
                       }    
}
