@contactWidth: 250px;
@contactMargin: 0% 0% 3% 50%;
@h3Margin:25px 100px 25px 100px;

*{
padding:0;
margin:0;
}
		.nav{
		background-color: #82b1ff;
		height: 100px;
		overflow:scroll;
        }

		.nav ul{
			display: block;
			width: auto;
            text-align: center
		}

		.nav  li{
				display:inline-block;
			
				
				font-size: 20px;
				margin-top: 50px;
				margin-right: 80px;
				text-indent: 0px;
        }
		

.name{
    position:relative;
    width:auto;
    text-align: center;
    margin:25px;
    padding:15px;
    display:block;
    overflow:schroll;
    
}

 h3{
    
    text-align:center;
    width: auto;
    margin:@h3Margin;
    border-top:2px solid black;
    border-bottom: 2px solid black;
    padding:10px;
    overflow:schroll;
    
}

.about p{
    margin:@h3Margin;
    position:relative;
    text-align: left;
    width:auto;
    -webkit-column-count: 2;
  display: block;
  padding:25;
}
#skills ul{
    
      margin:@h3Margin;
    position:relative;
    text-align: left;
    width:auto;
    -webkit-column-count: 2;
  display: block;
  padding:25;
}



 .projects ul {margin:@h3Margin;
    position:relative;
    text-align: left;
    width:auto;
  display: block;
  padding:25; 
  list-style-type: none;
  }
   .experience ul{
       margin:@h3Margin;
    position:relative;
    text-align: left;
    width:auto;
  display: block;
  padding-top:25;
    list-style-type: none;
    
   }
   
   .experience li{
     
  text-decoration:none;
  
}

.experience #position{
    font:22px;
}

.education{
    margin:@h3Margin;
    position:relative;
    text-align: left;
    width:auto;
  display: block;
  font-size:22px;
  padding:25;
}

#contact{
    
  text-align: center;
  width: auto;
  margin: @h3Margin;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 10px;
  overflow: schroll;
    
}

.container{
    height:450px;
    width:50%;
    background-color: #82b1ff;
    text-align:center;
    display:block;
    margin-top:50px ;
    margin-left:250px;
    color:white;
}

.name{
    
    text-align: center;
    margin:30px;
    height: 90px 50px;

}

#contact{
    
    text-align:center;
    width: auto;
    margin:@h3Margin;
    border-top:2px solid black;
    border-bottom: 2px solid black;
    padding:10px;
    overflow:schroll;
}    

form {
   margin-top: 60px;
}

fieldset label {
   
   font-size: 12px;
   font-weight: bold;
   color:white;
}
.inputname {
   width:@contactWidth;
   height: 25px;
   border-radius: 5px;
   font-size: 16px;
   font-style: italic;
}

.inputemail {
  width: @contactWidth;
   height: 25px;
   border-radius: 5px;
   font-size: 16px;
   font-style: italic;
}

textarea {
   width:@contactWidth;
   height: 200px;
   border-radius: 5px;
   background-color: white;
   font-size: 16px;     
}

.button {
   width:@contactWidth;
   height: 25px;
   border-radius: 5px;
   font-size: 16px;
   background-color: white;
   color: gray;
}
