* {
  margin: 0;
}
.nav {
  background-color: #82b1ff;
  height: 80px;
  overflow: schroll;
  color: white;
}
.nav ul {
  display: block;
  width: 800px;
  text-align: center;
  overflow: scroll;
  color: white;
  margin-left:200px;
}
.nav li {
  display: inline-block;
  font-size: 18px;
  margin-top: 35px;
  margin-right: 80px;
  text-indent: 0px;
  overflow: scroll;
  color: white;
}
.nav a {
  color: white;
  text-decoration: none;
}
a:hover {
  background-color: white ;
}
.name {
  position: relative;
  width: auto;
  text-align: center;
  margin: 25px;
  padding: 15px;
  display: block;
  overflow: schroll;
}
h3 {
  text-align: center;
  width: auto;
  margin: 25px 100px 25px 100px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 10px;
  overflow: schroll;
}
.about p {
  margin: 25px 100px 25px 100px;
  position: relative;
  text-align: left;
  width: auto;
  -webkit-column-count: 2;
  display: block;
  padding: 25;
}
#skills ul {
  margin: 25px 100px 25px 240px;
  position: relative;
  text-align: left;
  width: auto;
  -webkit-column-count: 2;
  display: block;
  padding: 25;
}
.projects ul {
  margin: 25px 100px 25px 150px;
  position: relative;
  text-align: left;
  width: auto;
  display: block;
  padding: 25;
  list-style-type: none;
}
.experience ul {
  margin: 25px 100px 25px 150px;
  position: relative;
  text-align: left;
  width: auto;
  display: block;
  padding-top: 25;
  list-style-type: none;
}
.experience li {
  text-decoration: none;
}
.experience #position {
  font: 22px;
}
.education {
  position: relative;
  width: auto;
  display: block;
  font-size: 22px;
  padding: 25;
  text-align: center;
}
.contact {
  text-align: left;
  width: auto;
  position: relative;
  display: inline-block;
  overflow: scroll;
}
.container {
  height: 320px;
  width: 65%;
  background-color: #82b1ff;
  margin-left: 180px;
  display: block;
  overflow: scroll;
  color: white;
}
.name {
  text-align: center;
}
.email {
  text-align: center;
  margin: 40;
  height: 90px 50px;
}
#commentsbox {
  font-size: 12px;
  height: 200px;
  width: 00px;
  font-color: white;
}
form {
  margin-top: 30px;
  margin-left: 190px;
}
fieldset label {
  font-size: 12px;
  font-weight: bold;
  color: white;
}
.input {
  width: 300px;
  height: 25px;
  border-radius: 5px;
  font-size: 16px;
  font-style: italic;
}
.inputname {
  width: 300px;
  height: 25px;
  border-radius: 5px;
  font-size: 16px;
  font-style: italic;
}
.inputemail {
  width: 300px;
  height: 25px;
  border-radius: 5px;
  font-size: 16px;
  font-style: italic;
}
.textarea {
  width: 400px;
  height: 25px;
  border-radius: 5px;
  background-color: white;
  margin: 10px;
  font-size: 16px;
}
.btn {
  width: 100px;
  padding: 20px;
  box-shadow: insert 0 0 10px #fff 0 0 5px #000;
  background: #000;
  border-radius: 10px;
  font-size: 12px;
  letter-spacing: 3px;
  color: #fff;
  cursor: pointer;
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -ms-transition-duration: .5s;
  -0-transition-duration: .5s;
  transition-duration: .5s;
}
.btn:hover,
.btn:active,
.btn:visited {
  background: #fff;
  color: #000;
  box-shadow: insert 0 0 10px #000 0 0 5px #000;
}
button {
  width: 100px;
  padding: 20px;
  box-shadow: insert 0 0 10px #fff 0 0 5px #000;
  background: #000;
  border-radius: 10px;
  font-size: 12px;
  letter-spacing: 3px;
  color: #fff;
  cursor: pointer;
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -ms-transition-duration: .5s;
  -0-transition-duration: .5s;
  transition-duration: .5s;
}
button:hover,
button:active,
button:visited {
  background: #fff;
  color: #000;
  box-shadow: insert 0 0 10px #000 0 0 5px #000;
}
