@contactWidth: 250px;
@h3Margin:25px 100px 25px 100px;

*{
padding:0;
margin:0;
}
		.nav{
		background-color: #82b1ff;
		height: 100px;
		overflow:scroll;
        text-decoration:none;
        color:white;
        position:absolute;
        }

		.nav ul{
			display: block;
			width: auto;
            text-align: center;
            color:white;
            text-decoration:none;
            position:absolute;
            overflow:scroll;
		}

		.nav  li{
				display:inline-block;
				font-size: 20px;
				margin-top: 50px;
				margin-right: 80px;
				text-indent: 0px;
                color:white;
                text-decoration:none;
                position:absolute;
            overflow:scroll;
        }
       .nav a{
           
           color:white
           text-decoration:none;
       }
		

.name{
    position:relative;
    width:auto;
    text-align: center;
    margin:25px;
    padding:15px;
    display:block;
    overflow:scroll;
    text-decoration:none;
    font-color:black;
}

 h3{
    
    text-align:center;
    width: auto;
    margin:@h3Margin;
    border-top:2px solid black;
    border-bottom: 2px solid black;
    padding:10px;
    overflow:schroll;
    text-decoration:none;
    font-color:black;
}

.about p{
    margin:@h3Margin;
    position:relative;
    text-align: left;
    width:auto;
    -webkit-column-count: 2;
  display: block;
  padding:25;
   text-decoration:none;
    color:black;
}
#skills ul{
    
      margin:@h3Margin;
    position:relative;
    text-align: left;
    width:auto;
    -webkit-column-count: 2;
  display: block;
  padding:25;
}



 .projects ul {margin:@h3Margin;
    position:relative;
    text-align: left;
    width:auto;
  display: block;
  padding:25; 
  list-style-type: none;
  }
   .experience ul{
       margin:@h3Margin;
    position:relative;
    text-align: left;
    width:auto;
  display: block;
    list-style-type: none;
    
   }
   
   .experience li{
     
  text-decoration:none;
  
}

.experience #position{
    font:22px;
}

.education{
    
    position:relative;
    text-align: left;
  display: block;
   text-decoration:none;
    color:black;}
    
  .education p{
   margin:0px 0px 0px 200px   
  }

#contact{
    
    text-align:center;
    width: auto;
    margin:@h3Margin;
    border-top:2px solid black;
    border-bottom: 2px solid black;
    padding:10px;
    overflow:scroll;
    }

.container{
    width:40%;
    background-color: #82b1ff;
    display:block;
    color:white;
    align-items: center;
}
  
fieldset {
   width: 450px;
   height: 350px;
   background-color: gray;
   border-radius: 10px;
   
}
form {
   margin-top: 30px;
}
fieldset label {
   margin: 5% 5% 3% 45%;
   font-size: 12px;
   font-weight: bold;
}
.inputname {
   width: 240px;
   height: 25px;
   border-radius: 5px;
   margin: 5% 5% 3% 45%;
   font-size: 16px;
   font-style: italic;
}

.inputemail {
   width: 240px;
   height: 25px;
   border-radius: 5px;
   margin: 5% 5% 3% 45%;
   font-size: 16px;
   font-style: italic;
}

textarea {
   width: 240px;
   height: 80px;
   border-radius: 5px;
   background-color: white;
   margin: 5% 5% 3% 45%;
   font-size: 16px;     
}

.button {
   width: 150px;
   height: 25px;
   border-radius: 5px;
   margin: 5% 5% 3% 45%;
   font-size: 16px;
   background-color: white;
   color: gray;
}
